@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}